<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Ban google translate -->
    <meta name="google" value="notranslate">

    <title>SNUCSE DB</title>
    <link rel="stylesheet" href="/css/index.css">
    <script>
        function copyLink(href) {
            navigator.clipboard.writeText(href).then(() => {
                alert('링크가 복사되었습니다: ' + href);
            }, () => {
                alert('링크 복사에 실패했습니다.');
            });
        }
    </script>
    <script src="/js/index.js" defer></script>
</head>
<body>
    <!-- Nav -->
    <%- include('components/nav', { navs: navs }) %>

    <div class="main-content">
        <!-- Sidebar -->
        <div class="sidebar">
            <div id="profile-section">
                <div class="profile-circle">
                    <img src="/image/profile/snu-logo.png" alt="프로필 이미지" id="profile-image">
                </div>
                <div class="profile-info">
                    <!-- <a href="mailto:tomskang@naver.com">Email</a> -->
                    <button class="profile-button" onclick="location.href='mailto:tomskang@naver.com'">
                        <img src="/image/ico/open-mail.png" alt="email" class="profile-icon">
                        <img src="/image/ico/open-mail-hover.png" alt="email" class="profile-hover-icon">
                    </button>
                    <!-- <a href="https://github.com/KMSstudio">Github</a> -->
                    <button class="profile-button" onclick="window.open('https://github.com/KMSstudio')">
                        <img src="/image/ico/github.png" alt="email" class="profile-icon">
                        <img src="/image/ico/github-hover.png" alt="email" class="profile-hover-icon">
                    </button>
                </div>
            </div>
            <div id="link-section">
                <div class="link-list">
                    <% for(let i = 0; i < links.length; i++) { %>
                        <div class="link-item">
                            <button class="copy-button" onclick="copyLink('<%= links[i].href %>')">
                                <img src="/image/ico/copy.png" alt="복사 버튼" class="copy-icon">
                                <img src="/image/ico/copy-hover.png" alt="복사 버튼 hover" class="copy-hover-icon">
                            </button>
                            <div class="link-info">
                                <img src="<%= links[i].src %>" alt="<%= links[i].name %>" class="link-icon">
                                <a href="<%= links[i].href %>" target="_blank"><%= links[i].name %></a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- content section -->
        <div class="content">
            <div class="content-title">
                <h1>SNUCSE DB</h1>
                <p>Seoul National University - Computer Science and Engineeging Database</p>
            </div>

            <div class="buttons">
                <% for(let i = 0; i < buttons.length; i++) { %>
                    <form action="<%= buttons[i].href %>" method="get">
                        <button type="submit"> <%= buttons[i].name %> </button>
                    </form>
                <% } %>
            </div>

            <div class="special-thanks">
                <a href="/">Special thanks</a>
            </div>
        </div>
    </div>
</body>
</html>
