<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love CSE</title>
    <link rel="stylesheet" href="/css/index.css">
    <script>
        // 링크 복사 함수
        function copyLink(href) {
            navigator.clipboard.writeText(href).then(() => {
                alert('링크가 복사되었습니다: ' + href);
            }, () => {
                alert('링크 복사에 실패했습니다.');
            });
        }
    </script>
</head>
<body>
    <!-- Navbar -->
    <div class="header">
        <h1>I Love CSE</h1>
        <div class="nav">
            <a href="/">home</a>
            <% for(let i = 0; i < navs.length; i++) { 
                const navLabel = navs[i].split('/').pop(); %>
                <a href="<%= navs[i] %>"><%= navLabel %></a>
            <% } %>
        </div>
    </div>

    <div class="main-content">
        <!-- Sidebar -->
        <div class="sidebar">
            <div id="profile-section">
                <div class="profile-circle">
                    <img src="/image/profile.jpg" alt="프로필 이미지" class="profile-image">
                </div>
                <div class="profile-info">
                    <a href="mailto:tomskang@naver.com">Email</a>
                    <a href="https://github.com/KMSstudio">Github</a>
                </div>
            </div>
            <div id="link-section">
                <div class="link-list">
                    <% for(let i = 0; i < links.length; i++) { %>
                        <div class="link-item">
                            <button class="copy-button" onclick="copyLink('<%= links[i].href %>')">
                                <img src="/image/copy.png" alt="복사 버튼" class="copy-icon">
                                <img src="/image/copy-hover.png" alt="복사 버튼 hover" class="copy-hover-icon">
                            </button>
                            <div class="link-info">
                                <img src="<%= links[i].src %>" alt="<%= links[i].name %>" class="link-icon">
                                <a href="<%= links[i].href %>" target="_blank"><%= links[i].name %></a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- content section -->
        <div class="content">
            <div class="content-title">
                <h1>SNUCSE DB</h1>
                <p>Seoul National University - Computer Science and Engineeging Database</p>
            </div>

            <div class="buttons">
                <% for(let i = 0; i < buttons.length; i++) {
                    const buttonLabel = buttons[i].split('/').pop(); %>
                    <form action="<%= buttons[i] %>" method="get">
                        <button type="submit"> <%= buttonLabel %> </button>
                    </form>
                <% } %>
            </div>

            <div class="special-thanks">
                <a href="/">Special thanks</a>
            </div>
        </div>
    </div>
</body>
</html>
