<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents of <%= path %></title>
    <link rel="stylesheet" href="/css/show.css">
    <script src="/js/show.js" defer></script>
</head>
<body>
    <%- include('components/nav', {navs: navs}) %>
    <div class="container">

        <header>
            <h1>Contents of <%= path %></h1>
            <div class="button-group">
                <% if(is_admin) { %>
                    <button onclick="openUploadPopup('<%= path %>')" id="upload-file-btn">
                        <img src="/image/ico/upload.png" alt="New File" class="icon">
                    </button>
                    <button onclick="openCreatePopup('<%= path %>')" id="create-folder-btn">
                        <img src="/image/ico/new-folder.png" alt="New Folder" class="icon">
                    </button>
                <% } %>
                <button onclick="downloadZip('<%= path %>')" id="download-zip-btn">
                    <img src="/image/ico/download.png" alt="Download zip" class="icon">
                </button>
            </div>
        </header>

        <%- include('components/files', { files: files }) %>

        <div class="control-links">
            <a class="back-link" href="<%= backto %>">Go Back</a>
            <a class="back-link" href="/">Go Home</a>
        </div>
    </div>
</body>
</html>